global_defs {
    enable_script_security
    script_user root
}

vrrp_script chk_haproxy {
    script "/usr/bin/systemctl is-active --quiet haproxy"
    interval {{ keepalived_check_interval }}
    timeout {{ keepalived_check_timeout }}
    fall {{ keepalived_check_fall }}
    rise {{ keepalived_check_rise }}
    weight 0
}

vrrp_instance VI_1 {
    state {{ 'MASTER' if keepalived_node_role == 'master' else 'BACKUP' }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_virtual_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived_vip }}/{{ keepalived_vip_cidr }}
    }

    track_script {
        chk_haproxy
    }
}
